.btn {
          position: relative;
          background: white;
          height: 70px;
          width: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
}

.arrow {
          width: 21px;
          width: 21px;
          margin-left: 20px;
          margin-bottom: 3px;
          fill: #0a0c11;
}

.btn.btnCircle::before {
          content: '';
          position: absolute;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 0px;
          height: 0px;
          z-index: -1;
          border-radius: 50%;
          transition: all 500ms ease-in-out;
          transform: scale(0);
}

.btn.btnCircle:hover::before,
.btn.btnCircle:focus::before {
          transform: scale(1.1);
          transition: transform 500ms ease-in-out;
          background-color: #0a0c11;
          width: 300px;
          height: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
}

.btn.btnCircle:hover .arrow {
          display: none;

}
.btn.btnCircle:focus .arrow {
          display: none;

}

.btn.btnCircle {
          z-index: 1;
          overflow: hidden;
          background-color: white;
          border: 2px solid white;
          transition: color 500ms ease-in-out;
}

.btn.btnCircle:hover,
.btn.btnCircle:focus {
          color: white;
}